
<table>
    <thead>
      <tr>
        <td>id</td>
        <td>Tên</td>
        <td>giới tính</td>
        <td>Tuổi</td>
        <td>số điện thoại</td>
        <td>Chức năng</td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let testapi of testapis">
        <td>{{testapi.id}}</td>
        <td>{{testapi.name}}</td>
        <td>{{testapi.sex}}</td>
        <td>{{testapi.age}}</td>
        <td>{{testapi.phone}}</td>
        <td>

          <a [routerLink]="['/edit',testapi.id]" >Sửa</a>
          <button type="submit" (click)="onDelete(testapi.id)">Xóa</button>
        </td>
      </tr> -->
    </tbody>
  </table>
  